@import url(reset.css);

@font-face {
    font-family: 'GenSenRounded2TW-B';
    src: url(../links/fonts/GenSenRounded2TW-B.otf) format("opentype");
}

@font-face {
    font-family: 'GenSenRounded2TW-M';
    src: url(../links/fonts/GenSenRounded2TW-M.otf) format("opentype");
}

@font-face {
    font-family: 'GenSenRounded2TW-R';
    src: url(../links/fonts/GenSenRounded2TW-R.otf) format("opentype");
}

body {
    font-family: 'GenSenRounded2TW-M';
    ;
    max-width: 1440px;
    width: 100%;
    height: auto;
    background-size: cover;
}

.container {
    display: flex;
    width: 100%;
    height: 800px;
    background-image: url(../links/img/聯繫我們/context-ba.png);
    background-repeat: no-repeat;
}

/* ----------上左半部---------- */
.sidebar {
    width: 13%;
    padding: 40px;
    margin-right: 80px;
    display: flex;
    flex-direction: column;

}

.sidebar a {
    display: block;
    color: #43705b;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    margin: 30px 0;
    transition: color 0.2s;
    font-family: "GenSenRounded2TW-M";
}

.sidebar a span {
    display: block;
    font-size: 30px;
    color: #9bb7aa;
    margin-bottom: 4px;
    font-family: "Fredoka";
    font-weight: 600;
    letter-spacing: 2px;
}

.sidebar a:hover {
    color: #2e4d3e;
}

.logo {
    width: 100px;
    padding-bottom: 10px;
}

nav ul {
    text-align: center;
}

nav li {
    margin: 30px 0;
    color: #43705b;
}

nav li span {
    display: block;
    font-size: 30px;
    color: #9bb7aa;
    margin-bottom: 4px;
}


nav li:hover {
    color: #2e5547;
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.1s ease;
}


/* ----------緊急電話---------- */
.emergency-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    background-color: rgba(134, 180, 157, 1);
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
}

.emergency-btn:hover {
    background-color: #43705b;
    transform: scale(1.02);
}

/* ----------上右半部---------- */

.contact-section {
    width: 1200px;
    text-align: center;
    margin: 180px 400px 150px 180px;
}

/* ----------表單---------- */

.contact-section h1 span {
    font-family: "Knewave";
    font-size: 100px;
    color: rgba(232, 241, 236, 1);
}

.contact-section h1 {
    font-family: 'GenSenRounded2TW-B';
    font-size: 24px;
    margin-bottom: 40px;
    line-height: 1.2;
    color: rgba(232, 241, 236, 1);
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form-row {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    font-size: 16px;
    margin-bottom: 10px;
    color: rgba(232, 241, 236, 1);
}

input[type="text"],
input[type="email"] {
    width: 240px;
    padding: 12px 20px;
    border: none;
    border-radius: 40px;
    background-color: white;
    color: rgba(232, 241, 236, 1);
    font-size: 16px;
}

.form-full {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-full input {
    width: 100%;
}

/**-----送出鍵------**/
.contact-form button[type="submit"] {
    background-color: rgba(86, 154, 128, 1);
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 999px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'GenSenRounded2TW-B';
}

.contact-form button[type="submit"]:hover {
    background-color: rgba(214, 229, 221, 1);
    color: rgba(86, 154, 128, 1);
}

/**-----footer------**/
.footer {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: rgba(249, 244, 218, 1);
    font-family: 'GenSenRounded2TW-M';
}


.footer-frist {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.footer-logo img {
    width: 150px;
    height: auto;
    display: block;
}

.footer-text {
    line-height: 1.6;
}

.footer-social img {
    width: 150px;
    height: auto;
    display: block;
}

.button img {
    width: 140px;
    height: auto;
    display: block;
}